{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
	<title>Simple GO server</title>
	<link rel="stylesheet" type="text/css" href="./assets/app.css">
</head>
<body>
<header>
	<nav>
		<ul>
			<li>
				<a href="">Something</a>
			</li>
			<li>
				<a href="">Something</a>
			</li>
			<li>
				<a href="">Something</a>
			</li>
			<li>
				<a href="">Something</a>
			</li>
			<li>
				<a href="">Something</a>
			</li>
			<li>
				<a href="">Something</a>
			</li>
		</ul>
	</nav>
</header>

{{ end }}